body, html {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

nav {
  width: 100%;
  height: 80px;
  color: black;
}

hr {
  width: 100%;
}

#logo {
  height: 60px;
  background-image: url('img/teddit.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  display: inline-block;
}

.link-container {
  float: right;
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;
    color: black;
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    width: 100px;
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    background-color: #D3D3D3;
  }

}

.icon-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.prepost {
    border: 2px solid #D3D3D3	;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    display: flex;
}

.prepost:hover {
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prepost-cover_url {
  height: 120px;
  width: 120px;
  border: 2px solid #D3D3D3;
  border-radius: 2px;
}

.prepost-content-container {
  border: 2px solid #D3D3D3;
  border-radius: 5px;
  border-radius: 2px;
  flex-grow: 1;
  height: 100px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.prepost-title {
  font-size: 22px;
  font-weight: bold;
}

.prepost-tags {
  color: #3dbfea;
}

/* EDITOR STYLING */

.required-star {
  color: red;
}

.field-title {
  font-size: 20px;
}

.editor-container {
  margin-left: 30px;
  input, textarea {
    color: #525252;
    height: 25px;
    width: 500px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    background-color: white;
    font-size: 18px;
  }

  select {
    font-size: 18px;
  }

  button {
    height: 45px;
    width: 140px;
    font-size: 25px;
    background-color: white;
    color: black;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }

  button:hover {
    background-color: #D3D3D3;
  }

  .field-helper {
    font-size: 14px;
    color: grey;
  }
}

/* INDIVIDUAL POST PAGE */
.post-container {
  margin-left: 100px;
  font-size: 20px;
}

.post-title {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  padding: 5px;
  padding-left: 0px;
}

.post-tags {
  color: #3dbfea;
}

.post-actions {
  display: flex;
  flex-direction: row;

  div {
    color: grey;
    margin-right: 10px;
    text-decoration: underline;
  }

  div:hover {
    color: black;
    cursor: pointer;
  }
}
