body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.prepost {
    border: 2px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.prepost-cover_url {
  height: 100px;
  width: 100px;
}

.prepost-content-container {
  border: 2px solid grey;
  flex-grow: 1;
  padding: 10px;
  margin: 5px;
}
